.uc-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.uc-form-label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.uc-form-input {
    padding: 0.75rem;
    font-size: var(--font-size-base);
    border: 1px solid #d1d5db;
    border-radius: var(--radius-md);
    transition: border-color var(--transition);
}

.uc-form-input:focus {
    border-color: var(--primary);
    outline: none;
}

.uc-form__row {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.uc-form__row.uc-form__group {
    margin-bottom: 0;
}

.uc-form__row.grouped-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
    width: 100%;
    margin-top: 0.5rem;
}

.uc-form__row.grouped-row .field {
    min-width: 0;
    display: flex;
    flex-direction: column;
}


.uc-form__row.grouped-row .field__input {
    width: 100%;
}

@media (max-width: 780px) {
    .uc-form__row.grouped-row {
        grid-template-columns: repeat(2, 1fr);
    }
}