.uc-header {
    background-color: var(--primary);
    padding: 1rem 0;
    color:  var(--white);
}

.uc-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uc-header__logo a {
    text-decoration: none;
    font-size: var(--font-size-base);
    font-weight: 500;
    color: white;
}

.uc-header__nav {}

.uc-header__menu {
    display: flex;
    gap: 1.5rem;
}

.uc-header__menu a {
    color: white;
    font-size: var(--font-size-base);
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.uc-header__menu a:hover {
    opacity: 0.8;
}