:root {
    --primary: #6725eb;
    --primary-hover: #5e21d8;
    --danger: #dc2626;
    --danger-hover: #bb2121;
       --secondary: #e5e5e5;
    --secondary-hover: #67788A;
    --info: #2563eb;
    --info-hover: #1e52c1;
    --warning: #e1b800;
    --warning-hover: #c39f00;
     --success: #0ead50;
    --success-hover: #0a8e41;
    --neutral: #6b7280;
    --bg: #f9fafb;
    --border: #e5e5e5;
    --text: #111827;

    --white: #ffffff;
    --muted: #B1B5C3;
    --muted-hover: #67788A;
    --description: #655850;
    --disabled: rgba(151, 169, 179, 0.3);
    --disabled-text: #97a9b3;
    --border: #ececec;

    --font-size-base: 15px;
    --font-size-sm: 12px;
    --font-size-lg: 18px;

    --radius-md: 10px;
    --transition: 0.2s ease-in-out;

    --font-family-base: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}